replicaCount: 1
image:
  repository: image-registry.openshift-image-registry.svc:5000/webhook-app/webhook-app-frontend
  tag: 1.0.5
  pullPolicy: Always
service:
  type: ClusterIP
  port: 8080
route:
  enabled: true
  host: "" # opcional: webhook-frontend.apps.cluster.example.com
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
